/* WelcomePage */
#h1{
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #e6c300;
  font-size: 45px

}

.estrellas {
  position: relative;
  width: 520px;
  height:300px;
  margin: 0 auto;
  font-size: 70px;
  color: rgb(255, 5, 5);
}


.estrellas span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 300px;
  margin-left: -35px;
  line-height: 530px;
  text-align: center;
  transform-origin: top center;
}
.estrellas span:nth-of-type(1)  {
  transform: rotate(75deg);
}
.estrellas span:nth-of-type(2)  {
  transform: rotate(50deg);
}
.estrellas span:nth-of-type(3)  {
  transform: rotate(25deg);
}
.estrellas span:nth-of-type(4)  {
  transform: rotate(0deg);
}
.estrellas span:nth-of-type(5)  {
  transform: rotate(-25deg);
}
.estrellas span:nth-of-type(6)  {
  transform: rotate(-50deg);
}
.estrellas span:nth-of-type(7)  {
  transform: rotate(-75deg);
}

.inverso {
  font-weight: bold;
}
.inverso span {
  line-height: 100px;
  transform-origin: bottom center;
  border: 6px solid rgb(245, 224, 32); 
}

/* select page */
#selectbg{
  background-color: #ffaf4d
}

.cl 
{
  text-align: center;
  font-size: 50px;
  border-radius: 50%;
	width: 120px;
	height: 120px;
  background-color: #c2c2c2;
  border: 5px rgb(0, 0, 0) solid;
	border-radius: 50%;
}

z
#select
{
  color:aliceblue;
  font-size: 40px
}

/* chooseDate */
#Date{
  font-size: 30px;
  color: #e6c300;
}

.list
{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.list > div
{
  text-align: center;
  font-size: 50px

}


.NoMatch{
  background-color: rgb(255, 111, 111);
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.match
{
  background-color: rgb(25, 228, 25);
  animation: float 3s ease-in-out infinite;
}

#date{
  font-size:30px;
}
/*random*/

.random
{
  
  color: #e6c300;
  font-size: 60px

}