
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">
    
    <style>
         body {
    background-image: url("https://i.pinimg.com/originals/57/49/47/574947c3f37720433aa59c4e08262c4b.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
    }

    </style>

  </head>
  <body id="CDBody">
    <center>
    <h4>Select 6 numbers ranging from 1-59</h4>
    <h2>NO REPITITIONS</h2>

    <form action="/chooseDate" method="POST">
      <input class="cl"type="number"name="n1">
      <input class="cl"type="number"name="n2">
      <input class="cl"type="number"name="n3">
      <input class="cl"type="number"name="n4">
      <input class="cl"type="number"name="n5">
      <input class="cl"type="number"name="n6">
      
      <br>
      Date<input type="date" name="Date"
      value="2017-15-08"
      min="2017-08-15"
      max="2017-12-29">
      <input type="submit" value="Submit">
    </form>
    </center>


  </body>
</html>
