<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">
    
    <style>
         body {
    background-image: url("https://images.unsplash.com/photo-1532699462982-132875fc5397?ixlib=rb-1.2.1&auto=format&fit=crop&w=1266&q=80");
    background-repeat: no-repeat;
    background-size: cover;  
    }

    </style>

  </head>
  <body>
    <center>
    <h1 class=random>Select 6 numbers ranging from 1-59</h1>
    <h1 class=random>NO REPITITIONS</h1>

    <form action="/chooseDate" method="POST">
      <div class="list">
        <input class="cl"type="number"name="n1">
        <input class="cl"type="number"name="n2">
        <input class="cl"type="number"name="n3">
        <input class="cl"type="number"name="n4">
        <input class="cl"type="number"name="n5">
        <input class="cl"type="number"name="n6">
      </div>
      
      <br>
      Date<input type="date" name="Date"
      value="2017-15-08"
      min="2017-08-15"
      max="2017-12-29">
      <input type="submit" value="Submit">
    </form>
    </center>


  </body>
</html>