<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">

     <style>
         body {
    background-image: url("https://i.pinimg.com/originals/57/49/47/574947c3f37720433aa59c4e08262c4b.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
    }

    </style>

  </head>
  <body id="CDBody">
    <center>
            <h2 class="random">Select six numbers and try your luck with the computer!</h2>
   
       <script>
           function randint(start,end)
           {
               let seed=Math.floor(Math.random()*1000)
            return start+(seed%(end-start+1))
           }
           function quickdraw()
           {
           let draw = [];
           let number = [];
           for( let i=1;i<=59;i+=1)
           {
               draw.push(i);
           }
           for(let i=1;i<=6;i+=1)
           {
               let index=randint(0,draw.length);
               number.push(draw[index]);
               draw.splice(index,1);
           }
           <div class="list">
                document.getElementById("cl1").value=number[0]
                document.getElementById("cl2").value=number[1]
                document.getElementById("cl3").value=number[2]
                document.getElementById("cl4").value=number[3]
                document.getElementById("cl5").value=number[4]
                document.getElementById("cl6").value=number[5]
           </div>
           }
           
        </script>
        
       
    <form action="/random" method="POST">
      <input class="cl"type="number"name="n1">
      <input class="cl"type="number"name="n2">
      <input class="cl"type="number"name="n3">
      <input class="cl"type="number"name="n4">
      <input class="cl"type="number"name="n5">
      <input class="cl"type="number"name="n6">
      
        <input type="submit" value="Submit">
    </form>
  

    </center>
  </body>
</html>