<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style.css">
  </head>
    <title></title>

  <body>
      

    <h1>These are the winning numbers for {{date}}</h1>

    <form action="/winningNumber" method="POST">
          <div class="cl1"> {{n1}} </div>
          <div class="cl2"> {{n2}} </div>
          <div class="cl3"> {{n3}} </div>
          <div class="cl4"> {{n4}} </div>
          <div class="cl5"> {{n5}} </div>
          <div class="cl6"> {{n6}} </div>

       
        


  </body>
</html>
