<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h4>Select 6 numbers ranging from 1-59</h4>
    <h2>NO REPITITIONS</h2>

    <form action="/" method="POST">
      <input type="number" name="n1">
      <input type="number" name="n2">
      <input type="number" name="n3">
      <input type="number" name="n4">
      <input type="number" name="n5">
      <input type="number" name="n6">
      <br>
      <h3>Select one number ranging from 1-10</h3>
        <input type="number" name="n7">
        <br>
      <input type="submit" value="Submit">
    </form>



  </body>
</html>
