<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body id="selectbg">
    <center>
    <h2 id="select">Select 6 numbers ranging from 1-59</h2>
    <center>

    <h3 id="NR">NO REPITITIONS</h3>

    <form action="/numberInput" method="POST">

      <input  class="cl"type="number" name="n1">
      <input  class="cl"type="number" name="n2">
      <input  class="cl"type="number" name="n3">
      <input  class="cl"type="number" name="n4">
      <input  class="cl"type="number" name="n5">
      <input  class="cl"type="number" name="n6">

      <br>
      <h3>Select one number ranging from 1-10</h3>
        <input type="number" name="n7">
        <br>
      <input type="submit" value="Submit">
    </form>



  </body>
</html>
