
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>
        Lucky 7
    </h1>
    <h1><button onclick="myFunction()">Ready To Play?</button></h1>
    <script>
      function myFunction() {
        var age = prompt("Please enter your age")
      }
</script>
    <ul>

    </ul>

</body>
</html>
