<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style.css">
  
    <style>
        body {
   background-image: url("https://images.unsplash.com/photo-1560625692-f09253364e92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1488&q=80");
   background-repeat: no-repeat;
   background-size: cover;  
   }
   </style>

  </head>
    <title></title>

  <body>
      <center>

    <h1 class="random">These are the winning numbers for {{win.date}}</h1>
      <div class="list">
        
          <div class="cl"> {{win.n1}} </div>
          <div class="cl"> {{win.n2}} </div>
          <div class="cl"> {{win.n3}} </div>
          <div class="cl"> {{win.n4}} </div>
          <div class="cl"> {{win.n5}} </div>
          <div class="cl"> {{win.n6}} </div>

        </div>
        <hr>
        <h1 class="random">Your numbers were:</h1>
        <div class="list">
            <div class="{{numDict.n1[1]}} {{numDict.n1[2]}}"> {{numDict.n1[0]}} </div>
            <div class="{{numDict.n2[1]}} {{numDict.n2[2]}}"> {{numDict.n2[0]}} </div>
            <div class="{{numDict.n3[1]}} {{numDict.n3[2]}}"> {{numDict.n3[0]}} </div>
            <div class="{{numDict.n4[1]}} {{numDict.n4[2]}}"> {{numDict.n4[0]}} </div>
            <div class="{{numDict.n5[1]}} {{numDict.n5[2]}}"> {{numDict.n5[0]}} </div>
            <div class="{{numDict.n6[1]}} {{numDict.n6[2]}}"> {{numDict.n6[0]}} </div>
      
          </div>

      </div>
        
    </center>

  </body>
</html>
