<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style.css">
  </head>
    <title></title>

  <body>
      <center>

    <h1>These are the winning numbers for {{win.date}}</h1>
      <div class="list">

          <div class="cl"> {{win.n1}} </div>
          <div class="cl"> {{win.n2}} </div>
          <div class="cl"> {{win.n3}} </div>
          <div class="cl"> {{win.n4}} </div>
          <div class="cl"> {{win.n5}} </div>
          <div class="cl"> {{win.n6}} </div>

        </div>
        <hr>
        <h1>Your numbers were:</h1>
        <div class="list">
          
            <div class="cl"> {{numDict.n1}} </div>
            <div class="cl"> {{numDict.n2}} </div>
            <div class="cl"> {{numDict.n3}} </div>
            <div class="cl"> {{numDict.n4}} </div>
            <div class="cl"> {{numDict.n5}} </div>
            <div class="cl"> {{numDict.n6}} </div>
  
          </div>

      </div>
        
    </center>

  </body>
</html>
