<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style.css">
  </head>
    <title></title>

  <body>
      <center>

    <h1>These are the winning numbers for {{date}}</h1>
      <div class="list">

          <div class="cl"> {{n1}} </div>
          <div class="cl"> {{n2}} </div>
          <div class="cl"> {{n3}} </div>
          <div class="cl"> {{n4}} </div>
          <div class="cl"> {{n5}} </div>
          <div class="cl"> {{n6}} </div>

        </div>

      </div>
        
    </center>

  </body>
</html>
